
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs
  ------------------------------------ -->
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <!-- Mobile Specific Metas
  ------------------------------------ -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FONT
  ------------------------------------ -->
  <link href='//fonts.googleapis.com/css?family=Lustria|Lato:400,700,400italic|Playfair+Display:700,400italic' rel='stylesheet' type='text/css'>

  <!-- CSS
  ------------------------------------ -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="{{ "/assets/style.css" | absolute_url }}">

  <!-- Favicon
  ------------------------------------ -->
  <link rel="icon" type="image/png" href="{{ "/assets/favicon.png" | relative_url }}">

  <!-- Required for GetSimple Plugins
  ------------------------------------ -->
  <meta name="keywords" content="courses, computer science, robotics">

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-97CQQCDP41"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-97CQQCDP41');
</script>
<body id="index">

  <!-- Primary Page Layout
  ------------------------------------ -->
  <div id="container" class="container">
    <div class="row">
      <nav class="twelve columns">
        <hr />
        <br />
        <h1 style="text-align:center">{{ site.name }}</h1>
        <hr />
          <ul>
            {% assign mypages = site.pages | sort: "order" %}
            {% for navpage in mypages %}
              {% unless navpage.exclude %}
                {% if navpage.title == page.title %}
                  <li class="current active">
                {% else %}
                  <li>
                {% endif %}
                <a href="{{ navpage.url | absolute_url}}">
                  {{ navpage.title }}
                </a>
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        <hr />
      </nav>
    </div>
    <div class="row">
      <section class="twelve columns">
        {{ content }}
      </section>
    </div>
    <hr>
  </div><!-- close container -->
  <!-- End Document
  ------------------------------------ -->
</body>
</html>

